<div class="status-board">
  <!-- 各ステータス行を縦に並べる -->
  <div class="status-row" *ngFor="let statusColumn of statusColumns">
    <div class="status-header">
      <div class="reject-header" *ngIf="statusColumn.isRejectColumn">
        <h2>{{ statusColumn.title }}</h2>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="statusColumn.isRejectEnabled" />
          <span class="slider round"></span>
        </label>
      </div>
      <h2 *ngIf="!statusColumn.isRejectColumn">{{ statusColumn.title }}</h2>
      <div
        class="add-task"
        *ngIf="!statusColumn.isRejectColumn"
        [formGroup]="newTaskForm"
      >
        <input
          type="text"
          formControlName="content"
          placeholder="新しいタスクを追加"
        />
        <input
          type="number"
          formControlName="priority"
          placeholder="優先度"
          min="1"
        />
        <button
          (click)="addTask(statusColumn)"
          [disabled]="newTaskForm.invalid"
        >
          追加
        </button>
      </div>
    </div>

    <!-- 各ステータス内のタスクアイテムを横に並べる -->
    <div
      cdkDropList
      [id]="statusColumn.id"
      [cdkDropListData]="getTasksByStatus(statusColumn.id)"
      [cdkDropListConnectedTo]="getConnectedListIds()"
      class="task-list-horizontal"
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="horizontal"
    >
      <div
        class="task-box"
        *ngFor="let task of getTasksByStatus(statusColumn.id); let i = index"
        cdkDrag
        [cdkDragData]="task"
      >
        <ng-container *ngIf="editingTask?.taskId === task.id; else showTask">
          <div [formGroup]="editingTaskForm">
            <input
              type="text"
              formControlName="content"
              (blur)="saveTask(editingTask.taskId)"
              (keyup.enter)="saveTask(editingTask.taskId)"
            />
            <input
              type="number"
              formControlName="priority"
              (blur)="saveTask(editingTask.taskId)"
              (keyup.enter)="saveTask(editingTask.taskId)"
              min="1"
            />
            <button (click)="cancelEdit()">キャンセル</button>
          </div>
        </ng-container>
        <ng-template #showTask>
          {{ task.content }} (P: {{ task.priority }})
          <div class="actions">
            <button
              (click)="
                editTask(task.id, task.statusId, task.content, task.priority)
              "
            >
              編集
            </button>
            <button (click)="deleteTask(task.id)">削除</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- 新しいステータス列を追加するセクション -->
  <div class="add-column-section" [formGroup]="newColumnForm">
    <input
      type="text"
      formControlName="title"
      placeholder="新しいステータスのタイトル"
    />
    <button (click)="addColumn()" [disabled]="newColumnForm.invalid">
      ステータスを追加
    </button>
  </div>
</div>
