<p>home works!</p>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <!-- 追加10列 -->
      <ng-container *ngFor="let col of [].constructor(10); let k = index">
        <th>AddCol{{ k + 1 }}</th>
      </ng-container>
      <!-- Input 2列 + Select 1列 のパターンを6回繰り返す -->
      <ng-container *ngFor="let col of [].constructor(6); let k = index">
        <th>I{{ k * 2 + 1 }}</th>
        <th>I{{ k * 2 + 2 }}</th>
        <th>S{{ k + 1 }}</th>
      </ng-container>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of items; let i = index"
      (click)="onRowClick(i)"
      [class.selected-row]="selectedRowIndex === i"
    >
      <td
        #dataCell
        tabindex="0"
        (click)="onCellClick(i, 0)"
        [class.selected-cell]="selectedCell.row === i && selectedCell.col === 0"
      >
        {{ i + 1 }}
      </td>
      <!-- 追加10列 -->
      <ng-container *ngFor="let col of [].constructor(10); let k = index">
        <td
          #dataCell
          tabindex="0"
          (click)="onCellClick(i, k + 1)"
          [class.selected-cell]="
            selectedCell.row === i && selectedCell.col === k + 1
          "
        >
          {{ data[i]["Column " + (k + 1)] }}
        </td>
      </ng-container>
      <!-- Input 2列 + Select 1列 のパターンを6回繰り返す -->
      <ng-container *ngFor="let col of [].constructor(6); let k = index">
        <!-- Input 1 -->
        <td
          #dataCell
          tabindex="0"
          (click)="onCellClick(i, ADDED_COLUMNS_COUNT + k * 3 + 1)"
          (dblclick)="startEditing(i, ADDED_COLUMNS_COUNT + k * 3 + 1)"
          [class.selected-cell]="
            selectedCell.row === i &&
            selectedCell.col === ADDED_COLUMNS_COUNT + k * 3 + 1
          "
        >
          <ng-container
            *ngIf="
              editingCell?.row === i &&
                editingCell?.col === ADDED_COLUMNS_COUNT + k * 3 + 1;
              else viewModeInput1
            "
          >
            <input
              [id]="'edit-input-' + i + '-' + (ADDED_COLUMNS_COUNT + k * 3 + 1)"
              [(ngModel)]="editedValue"
              (blur)="saveEditedValue()"
              (keydown.enter)="saveEditedValueAndMoveDown()"
              (keydown.escape)="cancelEditing()"
            />
          </ng-container>
          <ng-template #viewModeInput1>
            {{ data[i]["Column " + (ADDED_COLUMNS_COUNT + k * 3 + 1)] }}
          </ng-template>
        </td>
        <!-- Input 2 -->
        <td
          #dataCell
          tabindex="0"
          (click)="onCellClick(i, ADDED_COLUMNS_COUNT + k * 3 + 2)"
          (dblclick)="startEditing(i, ADDED_COLUMNS_COUNT + k * 3 + 2)"
          [class.selected-cell]="
            selectedCell.row === i &&
            selectedCell.col === ADDED_COLUMNS_COUNT + k * 3 + 2
          "
        >
          <ng-container
            *ngIf="
              editingCell?.row === i &&
                editingCell?.col === ADDED_COLUMNS_COUNT + k * 3 + 2;
              else viewModeInput2
            "
          >
            <input
              [id]="'edit-input-' + i + '-' + (ADDED_COLUMNS_COUNT + k * 3 + 2)"
              [(ngModel)]="editedValue"
              (blur)="saveEditedValue()"
              (keydown.enter)="saveEditedValueAndMoveDown()"
              (keydown.escape)="cancelEditing()"
            />
          </ng-container>
          <ng-template #viewModeInput2>
            {{ data[i]["Column " + (ADDED_COLUMNS_COUNT + k * 3 + 2)] }}
          </ng-template>
        </td>
        <!-- Select -->
        <td
          #dataCell
          tabindex="0"
          [class.changed]="isChanged(i, ADDED_COLUMNS_COUNT + k * 3 + 3)"
          [class.selected-for-confirmation]="selectedForConfirmation[i]"
          [class.confirmed-and-cleared]="isConfirmedAndCleared[i]"
          (click)="onCellClick(i, ADDED_COLUMNS_COUNT + k * 3 + 3)"
          [class.selected-cell]="
            selectedCell.row === i &&
            selectedCell.col === ADDED_COLUMNS_COUNT + k * 3 + 3
          "
        >
          <select
            #statusSelect
            [id]="'select-' + i + '-' + (ADDED_COLUMNS_COUNT + k * 3 + 3)"
            name="status-{{ i }}-{{ ADDED_COLUMNS_COUNT + k * 3 + 3 }}"
            [(ngModel)]="data[i]['Column ' + (ADDED_COLUMNS_COUNT + k * 3 + 3)]"
            (ngModelChange)="
              onStatusChange(i, ADDED_COLUMNS_COUNT + k * 3 + 3);
              moveSelection('ArrowDown')
            "
            [disabled]="isConfirmedAndCleared[i] || isConfirmationMode"
            (keydown)="onStatusSelectKeydown($event, i)"
          >
            <option value="">--</option>
            <option value="OK">OK</option>
            <option value="NG">NG</option>
          </select>
        </td>
      </ng-container>
      <!-- Final Status Column -->
      <td
        #dataCell
        tabindex="0"
        [class.changed]="isChanged(i, STATUS_COLUMN_INDEX)"
        [class.selected-for-confirmation]="selectedForConfirmation[i]"
        [class.confirmed-and-cleared]="isConfirmedAndCleared[i]"
        (click)="onCellClick(i, STATUS_COLUMN_INDEX)"
        [class.selected-cell]="
          selectedCell.row === i && selectedCell.col === STATUS_COLUMN_INDEX
        "
      >
        <select
          #statusSelect
          name="status-{{ i }}-final"
          [(ngModel)]="data[i]['Column ' + STATUS_COLUMN_INDEX]"
          (ngModelChange)="
            onStatusChange(i, STATUS_COLUMN_INDEX); moveSelection('ArrowDown')
          "
          [disabled]="isConfirmedAndCleared[i] || isConfirmationMode"
          (keydown)="onStatusSelectKeydown($event, i)"
        >
          <option value="">--</option>
          <option value="OK">OK</option>
          <option value="NG">NG</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="isConfirmationMode" />
    確認モード
  </label>
</div>

<button (click)="finalConfirm()" [disabled]="!isConfirmationMode">
  最終確認
</button>
