<p>home works!</p>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Column A</th>
      <th>Column B</th>
      <th>Column C</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of items; let i = index"
      (click)="onRowClick(i)"
      [class.selected-row]="selectedRowIndex === i"
    >
      <td
        #dataCell
        tabindex="0"
        (click)="onCellClick(i, 0)"
        [class.selected-cell]="selectedCell.row === i && selectedCell.col === 0"
      >
        {{ i + 1 }}
      </td>
      <td
        #dataCell
        tabindex="0"
        (click)="onCellClick(i, 1)"
        [class.selected-cell]="selectedCell.row === i && selectedCell.col === 1"
      >
        <ng-container
          *ngIf="
            editingCell?.row === i && editingCell?.col === 1;
            else viewModeA
          "
        >
          <input
            [id]="'edit-input-' + i + '-1'"
            [(ngModel)]="editedValue"
            (blur)="saveEditedValue()"
            (keydown.enter)="saveEditedValue()"
            (keydown.escape)="cancelEditing()"
          />
        </ng-container>
        <ng-template #viewModeA>
          {{ data[i]["Column A"] }}
        </ng-template>
      </td>
      <td
        #dataCell
        tabindex="0"
        (click)="onCellClick(i, 2)"
        [class.selected-cell]="selectedCell.row === i && selectedCell.col === 2"
      >
        <ng-container
          *ngIf="
            editingCell?.row === i && editingCell?.col === 2;
            else viewModeB
          "
        >
          <input
            [id]="'edit-input-' + i + '-2'"
            [(ngModel)]="editedValue"
            (blur)="saveEditedValue()"
            (keydown.enter)="saveEditedValue()"
            (keydown.escape)="cancelEditing()"
          />
        </ng-container>
        <ng-template #viewModeB>
          {{ data[i]["Column B"] }}
        </ng-template>
      </td>
      <td
        #dataCell
        tabindex="0"
        (click)="onCellClick(i, 3)"
        [class.selected-cell]="selectedCell.row === i && selectedCell.col === 3"
      >
        <ng-container
          *ngIf="
            editingCell?.row === i && editingCell?.col === 3;
            else viewModeC
          "
        >
          <input
            [id]="'edit-input-' + i + '-3'"
            [(ngModel)]="editedValue"
            (blur)="saveEditedValue()"
            (keydown.enter)="saveEditedValue()"
            (keydown.escape)="cancelEditing()"
          />
        </ng-container>
        <ng-template #viewModeC>
          {{ data[i]["Column C"] }}
        </ng-template>
      </td>
      <td
        #dataCell
        tabindex="0"
        [class.changed]="isChanged(i)"
        [class.selected-for-confirmation]="selectedForConfirmation[i]"
        [class.confirmed-and-cleared]="isConfirmedAndCleared[i]"
        (click)="onCellClick(i, 4)"
        [class.selected-cell]="selectedCell.row === i && selectedCell.col === 4"
      >
        <select
          #statusSelect
          name="status-{{ i }}"
          [(ngModel)]="statuses[i]"
          (ngModelChange)="onStatusChange(i)"
          [disabled]="isConfirmedAndCleared[i] || isConfirmationMode"
        >
          <option value="">--</option>
          <option value="OK">OK</option>
          <option value="NG">NG</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="isConfirmationMode" />
    確認モード
  </label>
</div>

<button (click)="finalConfirm()" [disabled]="!isConfirmationMode">
  最終確認
</button>
